* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: black;
}
header nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
header li a {
    text-decoration: none;
    color: white;
}
header li a:hover {
    color: aqua;
}
.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-section .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
}
.hero-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.hero-content p {
    font-size: 1rem;
    margin-bottom: 10px;
}
.hero-content button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
.hero-content button:hover {
    background-color: aqua;
}
.program-section {
    padding: 30px 60px;
    text-align: center;
}
.program-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.program-section .cards {
    display: flex;
    gap: 30px;
}
.program-section .card {
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: aqua;
    color: white;
    cursor: pointer;
}
.card:hover {
    transform: translate(10px,10px);
    -webkit-transform: translate(10px,10px);
    -moz-transform: translate(10px,10px);
    -ms-transform: translate(10px,10px);
    -o-transform: translate(10px,10px);
}
.program-section .card h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.trainer-section {
    padding: 30px 60px;
    text-align: center;
}
.trainer-section h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.trainer-section .trainer-profile {
    display: flex;
    gap: 30px;
}
.trainer-profile .card {
    padding: 20px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
}
.trainer-profile .card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    margin-bottom: 10px;
}
.trainer-profile .card h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.trainer-profile .card:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.pricing-section {
    padding: 30px 60px;
    text-align: center;
}
.pricing-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.pricing-section .cards {
    display: flex;
    justify-content: center;
    gap: 300px;
}
.pricing-section .cards .card {
    padding: 20px 20px;
    height: 150px;
    width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.pricing-section .card h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.pricing-section .card p {
    font-weight: bolder;
    font-size: 1.5rem;
}
.contact-section {
    padding: 30px 60px;
    text-align: center;
}
.contact-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.contact-section .form {
    padding: 20px 40px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.contact-section input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border:  none;
    margin-bottom: 20px;
}
.contact-section textarea {
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    border:  none;
    margin-bottom: 20px;
    resize: none;
}
.contact-section input:hover {
    border: 1px solid aqua;
}
.contact-section textarea:hover {
    border: 1px solid aqua;
}
.contact-section button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    border: none;
}
.contact-section button:hover {
    background-color: aqua;
}
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px 20px;
}